<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8" %>
<div id="doubleRow_dynamic" style="display: none;">

		<textarea type="text/html" id="doubleRow_tpl0">
	             <fieldset>
	                      <legend>{*data1}</legend>
	             </fieldset>
    	</textarea>

	<textarea type="text/html" id="doubleRow_tpl1">
			 <div class="module-row">
                  <div class="module-col-sm6">
                      <label class="module-form-label {*requireData}">{*data1}</label>
                      <div class="module-input-block">
                         <input type="text" style="width:100%;" id="{*data2}">
                      </div>
                  </div>

        </textarea>
	<textarea type="text/html" id="doubleRow_tpl11">
			 <div class="module-row {*data3}">
                  <div class="module-col-sm6">
                      <label class="module-form-label {*requireData}">{*data1}</label>
                      <div class="module-input-block">
                         <input type="text" style="width:100%;" id="{*data2}">
                      </div>
                  </div>

        </textarea>
	<textarea type="text/html" id="doubleRow_tpl2">
	        <div class="module-row">
	        	<div class="module-col-sm6">
	        		<label class="module-form-label {*requireData}">{*data1}</label>
	            	<div class="module-input-block">
	            <input type="radio" name="{*data4}" id="{*data2}"
					   checked="checked" />
				<span class="gender">{*data5}</span>
	            <input type="radio" name="{*data4}" id="{*data3}" />
	            <span class="gender">{*data6}</span>
	            	</div>
	            </div>
   	</textarea>

	<textarea type="text/html" id="doubleRow_tpl1_1">
                 <div class="module-col-sm6">
                     <label class="module-form-label {*requireData}">{*data1}</label>
                     <div class="module-input-block">
                        <input type="text" style="width:100%;" id="{*data2}">
                     </div>
                 </div>
</div>
</textarea>

<textarea type="text/html" id="doubleRow_tpl2_1">
        	<div class="module-col-sm6">
        		<label class="module-form-label {*requireData}">{*data1}</label>
            	<div class="module-input-block">
	            <input type="radio" name="{*data4}" id="{*data2}"
					   checked="checked" /><span class="gender">{*data5}</span>
	            <input type="radio" name="{*data4}" id="{*data3}" />
	            <span class="gender">{*data6}</span>
            	</div>
            </div>
	</div>
   	</textarea>
<textarea type="text/html" id="doubleRow_tpl3">
		   <div class="module-row">
	        	<div class="module-col-sm6">
	        		<label class="module-form-label {*requireData}">{*data1}</label>
	            	<div class="module-input-block">
			            <input type="text" style="width: 100%" id="{*data2}" />
						<a id="{*data3}" class="easyui-linkbutton c1 right-btn" >{*data4}</a>
	            	</div>
	            </div>
   		</textarea>
<textarea type="text/html" id="doubleRow_tpl3_1">
	       		<div class="module-col-sm6">
                     <label class="module-form-label {*requireData}"></label>
                     <div class="module-input-block"></div>
	            </div>
	</div>
   		</textarea>
<textarea type="text/html" id="doubleRow_tpl3_2">
				<div class="module-col-sm6">
                     <label class="module-form-label {*requireData}">{*data1}</label>
                     <div class="module-input-block">
                        <input type="text" style="width: 100%" id="{*data2}" />
						<a id="{*data3}" class="easyui-linkbutton c1 right-btn" >{*data4}</a>
                     </div>
                 </div>
	</div>
        </textarea>
<textarea type="text/html" id="doubleRow_tpl4">
             <div class="module-row">
                  <div class="module-col-sm12">
                      <label class="module-form-label {*requireData}">{*data1}</label>
                      <div class="module-input-block">
						<input type="text" id="{*data2}" style="width:100%;">
                      </div>
                  </div>
              </div>
    </textarea>

<textarea type="text/html" id="doubleRow_tpl5">
			<div class="module-row">
                  <div class="module-col-sm6">
                      <label class="module-form-label {*requireData}">{*data1}</label>
                      <div class="module-input-block">
                         <input type="text" id="{*data2}">
                    <button id="{*data3}" type="button"
							class="button button-highlight button-float"
							style="position: relative; top: 1px;">{*data4}</button>
                      </div>
                  </div>
        </textarea>

<textarea type="text/html" id="doubleRow_tpl5_1">
				<div class="module-col-sm6">
                     <label class="module-form-label {*requireData}">{*data1}</label>
                     <div class="module-input-block">
                        <input type="text" id="{*data2}">
                    <button id="{*data3}" type="button"
							class="button button-highlight button-float"
							style="position: relative; top: 1px;">{*data4}</button>
                     </div>
                 </div>
	</div>
        </textarea>

<textarea type="text/html" id="doubleRow_tpl6">
            <div class="module-row">
                  <div class="module-col-sm6">
                      <label class="module-form-label {*requireData}">{*data1}</label>
                      <div class="module-input-block">
                         <input type="text" style="width:100%;" id="{*data2}">
                      </div>
                  </div>
       </textarea>

<textarea type="text/html" id="doubleRow_tpl6_1">
              <div class="module-col-sm6">
                  <label class="module-form-label {*requireData}">{*data1}</label>
                  <div class="module-input-block">
                     <input type="text" style="width:100%;" id="{*data2}">
                  </div>
              </div>
	</div>
    </textarea>

<textarea type="text/html" id="doubleRow_tpl7">
	    	<div class="module-row">
	    		<div class="module-col-sm6">
		            <label class="module-form-label {*requireData}">{*data1}</label>
		            <div class="module-input-block">
			            <input id='{*data2}' />
				<button id='{*data3}' name='{*data4}' type="button"
						class="button button-highlight c1"
						style="position: relative; top: 1px;">选择</button>
		        	</div>
		        </div>
	    </textarea>

<textarea type="text/html" id="doubleRow_tpl7_1">
					<div class="module-col-sm6">
						<label class="module-form-label {*requireData}">{*data1}</label>
						<div class="module-input-block">
						<input style="width: 100%;" id='{*data2}' />
						<button  type="button"
								 class="button-float">
							<span class="fa fa-pencil-square-o" id='{*data3}' name='{*data4}'></span>
						</button>
						</div>
					</div>
	</div>
			</textarea>

<textarea type="text/html" id="doubleRow_tpl8">
				<div class="module-row">
					<div class="module-col-sm6">
						<label class="module-form-label {*requireData}">{*data1}</label>
						<div class="module-input-block">
							<input style="width: 100%;" id='{*data2}' />
							<button  type="button"
									 class="button-float">
								<span class="fa fa-pencil-square-o" id='{*data3}' name='{*data4}'></span>
							</button>
						</div>
					</div>
		</textarea>

<textarea type="text/html" id="doubleRow_tpl9">
					<div class="module-row">
						<!--<div class="module-col-sm6">-->
							<label class="module-form-label {*requireData}">{*data1}</label>
							<div class="module-input-block">
								<input style="width: 100%;" id='{*data2}' />
							</div>
						<!--</div>-->
					</div>
			</textarea>

<textarea type="text/html" id="doubleRow_tpl10">
		<div class="module-row">
			<div class="module-col-sm6">
				<label class="module-form-label {*requireData}">{*data1}</label>
				<div class="module-input-block">
					<input type="radio" name="{*data4}" id="{*data2}"
						   checked="checked" /><span class="gender">{*data5}</span>
					<input type="radio" name="{*data4}" id="{*data3}" />
					<span class="gender">{*data6}</span>
				</div>
			</div>
		</div>
		</textarea>

</div>
